@model IQueryable<EventItem>
@{
    string strTitle = "Event Manager";
    ViewBag.Title = strTitle;
    Dictionary<Guid, int> eventCount = ViewBag.EventCount;
}

<div class="container py-5">
    
    <div class="card mb-4 box" id="tables">
        <a asp-area="" asp-controller="Account" asp-action="Manage">Вернуться на панель администратора</a>
        <br />
        <h3 class="section-title">Список событий</h3>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Начало события</th>
                        <th>Конец</th>
                        @*<th>Количество участников</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (EventItem eventItem in Model)
                    {
                    <tr>
                        <td><di class="tp-caption small tp-fade fadeout tp-resizeme">@eventItem.Name</di></td>
                        <td><di class="tp-caption small tp-fade fadeout tp-resizeme">@eventItem.DateStart.ToShortDateString()</di></td>
                        <td><di class="tp-caption small tp-fade fadeout tp-resizeme">@eventItem.DateEnd.ToShortDateString()</di></td>
                        @*<td><di class="tp-caption small tp-fade fadeout tp-resizeme">@eventCount[eventItem.Id]</di></td>*@
                        <td>
                            <form asp-action="Delete" asp-route-id="@eventItem.Id" method="post">
                                <button type="submit" class="btn btn-red btn-danger">
                                    <strong>Удалить</strong>
                                </button>
                            </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <a asp-action="Create"><strong>Создать событие</strong></a>
    </div>
  
</div>
