@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@{
    User user = await UserManager.FindByNameAsync(User.Identity.Name);
}
<head>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<div class="wrapper">
    <div class="content-wrapper" style="margin-left:10px;">
        <div class="container-full">
            <section class="content" style="margin-left:12px;">
                <div class="row">
                    <div class="col-12 col-lg-5 col-xl-4">
                        <div class="box box-inverse bg-img" style="background-image: url(../images/gallery/full/1.jpg);" data-overlay="2">
                            <div class="box-body text-center pb-50">
                                <h4 class="mt-2 mb-0"><a class="hover-primary text-white" href="#">@User.Identity.Name</a></h4>
                                <span><i class="fa fa-map-marker w-20"></i>@user.Position</span>
                            </div>
                            <ul class="box-body flexbox flex-justified text-center" data-overlay="4">
                                <li>
                                    <span class="opacity-60">Number of hours in this month</span><br>
                                    <span class="font-size-20">@ViewBag.HoursThisMonth</span>
                                </li>
                                <li>
                                    <span class="opacity-60">All hours</span><br>
                                    <span class="font-size-20">@ViewBag.HoursAllMonth</span>
                                </li>
                            </ul>
                        </div>
                        <div class="box">
                            <div class="box-body box-profile">
                                <div class="row">
                                    <div class="col-12">
                                        <div>
                                            <p>Email :<span class="text-gray pl-10">@user.Email</span> </p>
                                            <p>Phone :<span class="text-gray pl-10">+11 123 456 7890</span></p>
                                            <p>Address :<span class="text-gray pl-10">123, Lorem Ipsum, Florida, USA</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 col-xl-8">
                        <div class="nav-tabs-custom box-profile">
                            <ul class="nav nav-tabs">
                                <li><a class="active" href="#settings" data-toggle="tab">Settings</a></li>
                                <li><a class="" href="#activity" data-toggle="tab">Payment</a></li>
                            </ul>
                            <div class=" tab-content">
                                <div class=" active tab-pane" id="settings">
                                    <div class="box p-15">
                                        <form class="form-horizontal form-element col-12">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-2 control-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputName" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputEmail" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
                                                <div class="col-sm-10">
                                                    <input type="tel" class="form-control" id="inputPhone" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputExperience" class="col-sm-2 control-label">Experience</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" id="inputExperience" placeholder=""></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputSkills" class="col-sm-2 control-label">Skills</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputSkills" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="ml-auto col-sm-10">
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="basic_checkbox_1" checked="">
                                                        <label for="basic_checkbox_1"> I agree to the</label>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Terms and Conditions</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="ml-auto col-sm-10">
                                                    <button type="submit" class="btn btn-rounded btn-success">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="activity">
                                    <div class="box p-15">
                                        <div id="navpills-1" class="tab-pane active">
                                            <!-- Categroy 1 -->
                                            <div class=" tab-pane animation-fade active" id="category-1" role="tabpanel">
                                                <div class="panel-group panel-group-simple panel-group-continuous" id="accordion2"
                                                     aria-multiselectable="true" role="tablist">

                                                    <div class="panel">
                                                        <div class="panel-heading" id="question-2" role="tab">
                                                            <a class="panel-title" aria-controls="answer-2" aria-expanded="false" data-toggle="collapse"
                                                               href="#answer-2" data-parent="#accordion2">
                                                                Payment
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="answer-2" aria-labelledby="question-2"
                                                             role="tabpanel">
                                                            <div class="panel-body">
                                                                <h2>Salary in this month:</h2>
                                                                <br />
                                                                <br />
                                                                <h1><b>3000$</b></h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Question 2 -->
                                                    <!-- Question 3 -->
                                                    <div class="panel">
                                                        <div class="panel-heading" id="question-3" role="tab">
                                                            <a class="panel-title" aria-controls="answer-3" aria-expanded="false" data-toggle="collapse"
                                                               href="#answer-3" data-parent="#accordion2">
                                                                Morbi quis dui at justo posuere aliquam?
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="answer-3" aria-labelledby="question-3"
                                                             role="tabpanel">
                                                            <div class="panel-body">
                                                                I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Question 3 -->
                                                    <!-- Question 4 -->
                                                    <div class="panel">
                                                        <div class="panel-heading" id="question-4" role="tab">
                                                            <a class="panel-title" aria-controls="answer-4" aria-expanded="false" data-toggle="collapse"
                                                               href="#answer-4" data-parent="#accordion2">
                                                                Vivamus dictum turpis at nisi mattis congue?
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="answer-4" aria-labelledby="question-4"
                                                             role="tabpanel">
                                                            <div class="panel-body">
                                                                I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Question 4 -->
                                                </div>
                                            </div>
                                            <!-- End Categroy 1 -->
                                        </div>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="control-sidebar-bg"></div>
</div>